@model GroupProject.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Product Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <img src="~/images/@Html.DisplayFor(model => model.Image)" width="200" />
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Image)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<a asp-action="AddToCart" asp-route-id="@Model.ProductId" asp-route-returnUrl ="Product/index">Add to Cart</a>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to Products</a>
</div>
